body {
	margin: 50px;
	
    }
canvas {
	border: 2px solid black;
}
table {
	border: 1px solid;
	font-size: 13pt;
	float: left;	
	margin: 20px;
}

p {
    margin-left: 150px;
}

.width {
	width: 100px;
}

td {
	height:30px;
	vertical-align: top;
}
#display {
    font-size: 20px;
    margin-left: 170px;
}
