body {
    padding: 2em;
	
    }
canvas {
	border: 2px solid black;
}
table {
	position: relative;
	top: 100px;
	right: 50px;
	font-size: 12pt;
	float: right;	
}

p {
    margin-left: 150px;
}

.width {
	width: 100px;
}

td {
	height:30px;
	vertical-align: top;
}
#display {
    font-size: 20px;
    margin-left: 170px;
}
